.head {
  position: relative;
  background: #fbf0f1;
  color: #161519;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  column-rule-style: groove;
  margin: 0;
  padding: 0;
  .logo {
    button {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: none;
      margin: 10px;
      background-color: rgb(150 144 162 / 8%);
      svg {
        font-size: 45px;
      }
    }
  }
}
nav {
  margin: 10px;
  padding-right: 3.75vh;
  // background: #fbf0f1;

  .menu {
    padding: 5px 50px 5px 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 2px;
    align-items: center;
    &:hover {
      .second {
        display: block;
      }
    }

    .second {
      display: none;
      position: absolute;
      background-position: center center;
      background-repeat: no-repeat;
      left: -373.64px;
      padding: 1.75rem 1rem;
      border-radius: 0.65rem;
      background-color: #fff;
      width: 1322px;
      height: 425px;
      left: -246.047px;
      top: 25px;
      padding: 9px 50 45px;
      box-sizing: border-box;
      margin: 0;
      z-index: 997;

      ul {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style: none !important;
        span {
          white-space: normal;
          line-height: 1.3;
          text-transform: uppercase;
          opacity: 0.65;
          font-size: 0.8em;
          font-weight: 600;
          margin-bottom: 0.5rem;
          padding: 8px 6px 3px 10px !important;
        }
        li {
          display: flex;
          flex-direction: column;
          display: block;
          float: left;
          height: auto;
          cursor: pointer;
          color: #1f1e1e;
          // line-height: 19px;
          margin: 0 !important;
          padding: 8px 6px 8px 10px !important;
          list-style: none !important;
          font-weight: normal;
          font-size: 0.96rem;
          &:hover {
            background-color: rgba(150, 144, 162, 0.06);
            color: #dc2828;
          }
        }
      }
    }

    .elements {
      position: relative;
      &:hover {
        .second {
          display: block;
        }
      }
    }
    li {
      font-weight: bold;
      cursor: pointer;
    }
    .but {
      background-color: #0d0d0e !important;
      color: white;
      font-weight: bold;
      padding: 4px 20px;
      border-radius: 8px;
    }
  }
}
